.hero {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  grid-area: hero;
}
.hero .title {
  min-height: 210px;
  padding: 60px 10px;
  color: var(--color-2);
  text-align: center;
  background-image: linear-gradient(195.42deg, #ed1e79 -13.39%, #662d8c 83.2%);
  border-radius: var(--rounded-corners-top);
}
.hero .title h1 {
  font-size: 35px;
}
.hero .title h2 {
  font-size: 24px;
  font-weight: 500;
}
.hero .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;
  justify-content: center;
  min-height: 135px;
  padding: 15px;
  background-color: var(--color-7);
  border-radius: var(--rounded-corners-bottom);
}
.hero .tags h1 {
  color: var(--color-2);
}
@media screen and (max-width: 1200px) {
  .hero .title {
    min-height: unset;
    padding: 30px 10px;
  }
  .hero .tags {
    padding: 15px 10px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 0 10px;
  }
}/*# sourceMappingURL=hero.css.map */