.profile,
.signup,
.login {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  grid-area: hero;
  min-height: calc(100vh - 48px);
}
.profile form,
.signup form,
.login form {
  background-color: var(--color-2);
  border-radius: var(--border-radius-angle);
  box-shadow: var(--box-shadow);
  padding: 24px;
}
.profile p a,
.signup p a,
.login p a {
  text-decoration: underline;
}
@media screen and (max-width: 1200px) {
  .profile,
  .signup,
  .login {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .profile form,
  .signup form,
  .login form {
    padding: 15px 10px;
  }
}/*# sourceMappingURL=login.css.map */