.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  grid-area: menu;
  align-items: center;
  justify-content: center;
  width: var(--nav-width);
  font-weight: 800;
  background-color: var(--color-2);
  border-right: 1px solid var(--color-6);
}
.nav h1 {
  margin: 0 0 50px;
  font-family: "Abril Fatface", sans-serif;
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(to right, crimson, deepskyblue, springgreen);
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 200% 200%;
  transition: color 0.2s ease-in-out;
  animation: rainbow 2s ease-in-out infinite;
}
.nav h1:hover {
  color: rgba(0, 0, 0, 0);
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    bottom: unset;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
  }
  .nav h1 {
    width: 100%;
    margin-bottom: 0;
  }
  .nav a {
    width: 14.2857142857%;
  }
}
@media screen and (max-width: 768px) {
  .nav h1 {
    font-size: 28px;
  }
  .nav a {
    height: 50px;
    font-size: 0;
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-4);
  text-decoration: none;
  transition: color 0.1s ease;
}
.link.active {
  color: var(--color-5);
}

.link-with-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-4);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.1s ease;
}
.link-with-hover:hover, .link-with-hover.active {
  color: var(--color-5);
}/*# sourceMappingURL=nav.css.map */