.publish-tip {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  grid-area: hero;
}
.publish-tip form {
  background-color: var(--color-2);
  border-radius: var(--border-radius-angle);
  box-shadow: var(--box-shadow);
  padding: 24px;
}
.publish-tip form fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
  border: 1px solid var(--color-6);
  border-radius: 5px;
}
.publish-tip form fieldset legend {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
}
.publish-tip form fieldset label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 600;
}
.publish-tip form fieldset label .error-message {
  color: var(--color-8);
}
.publish-tip form fieldset label input, .publish-tip form fieldset label textarea, .publish-tip form fieldset label select {
  padding: 7px 5px;
  font-size: 18px;
  border: 1px solid var(--color-7);
  border-radius: 5px;
}
.publish-tip form fieldset label textarea {
  min-height: 250px;
}
.publish-tip form fieldset label:disabled {
  color: var(--color-6);
}
.publish-tip form fieldset input[type=submit], .publish-tip form fieldset button {
  padding: 7px;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-7);
  cursor: pointer;
  background-color: transparent;
  border: 2px solid currentColor;
  border-radius: 5px;
}
.publish-tip form fieldset input[type=submit]:hover:not(:disabled), .publish-tip form fieldset button:hover:not(:disabled) {
  color: var(--color-5);
}
.publish-tip form fieldset input:disabled, .publish-tip form fieldset textarea:disabled, .publish-tip form fieldset select:disabled {
  color: grey;
  cursor: progress;
}
@media screen and (max-width: 768px) {
  .publish-tip {
    padding: 0 10px;
  }
  .publish-tip form {
    padding: 15px 10px;
  }
  .publish-tip form fieldset legend {
    font-size: 24px;
  }
  .publish-tip form fieldset label {
    font-size: 16px;
  }
  .publish-tip form fieldset label input,
  .publish-tip form fieldset label textarea,
  .publish-tip form fieldset label select {
    font-size: 16px;
  }
  .publish-tip form fieldset input[type=submit],
  .publish-tip form fieldset button {
    font-size: 16px;
  }
}/*# sourceMappingURL=publish-tip.css.map */