.tag {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  color: var(--color-2);
  cursor: pointer;
  background-color: var(--color-4);
  border: 2px solid transparent;
  border-radius: 30px;
  transition: border-color 0.1s ease;
}
.tag:hover {
  border-color: var(--color-6);
}
.tag[data-active=true] {
  border-color: var(--color-3);
}
.tag svg {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  margin-right: 5px;
}
@media screen and (max-width: 1024px) {
  .tag {
    padding: 5px 7px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 20px;
  }
}/*# sourceMappingURL=tag.css.map */