.tip-view-layout {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: grid;
  grid-area: hero;
  grid-template-areas: "article gap-1 aside" "gap-2 gap-1 aside" "main gap-1 aside";
  grid-template-rows: auto 30px minmax(900px, 1fr);
  grid-template-columns: 1fr 50px 320px;
}
.tip-view-layout article {
  background-color: var(--color-2);
  border-radius: var(--border-radius-angle);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-area: article;
  grid-template-rows: 200px 1fr 40px;
  border-radius: var(--border-radius-angle);
  box-shadow: var(--box-shadow);
}
.tip-view-layout article header, .tip-view-layout article footer {
  font-weight: 500;
  text-align: center;
}
.tip-view-layout article header {
  display: grid;
  grid-template-columns: 144px 1fr;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  color: var(--color-2);
  word-wrap: break-word;
  background-color: var(--color-7);
  border-radius: var(--rounded-corners-top);
}
.tip-view-layout article header svg {
  --size: 144px;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  min-height: var(--size);
  margin-right: 5px;
}
.tip-view-layout article header h1 {
  font-size: 24px;
  word-wrap: break-word;
}
.tip-view-layout article main {
  padding: 24px 24px 12px;
}
.tip-view-layout article main time {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-family: "roboto mono", monospace;
  font-weight: 600;
  color: var(--color-4);
}
.tip-view-layout article main time svg {
  --size: 60px;
  width: var(--size);
  height: var(--size);
  margin-right: 10px;
}
.tip-view-layout article main time div {
  display: flex;
  flex-direction: column;
}
.tip-view-layout article main h2 {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 500;
}
.tip-view-layout article main p {
  margin: 0;
  font-weight: 400;
}
.tip-view-layout article footer {
  font-weight: 700;
  cursor: pointer;
  border-radius: var(--rounded-corners-bottom);
}
.tip-view-layout article footer:hover {
  color: var(--color-2);
  background-color: var(--color-7);
}
.tip-view-layout article footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}
.tip-view-layout > main {
  background-color: var(--color-2);
  border-radius: var(--border-radius-angle);
  box-shadow: var(--box-shadow);
  grid-area: main;
  padding: 24px;
  font-size: 18px;
  font-weight: 500;
}
.tip-view-layout .asides {
  --headings-font-size: 24px;
  grid-area: aside;
}
.tip-view-layout .asides .recent-tips {
  background-color: var(--color-2);
  border-radius: var(--border-radius-angle);
  box-shadow: var(--box-shadow);
  height: -moz-max-content;
  height: max-content;
  min-height: 680px;
  margin-bottom: 30px;
}
.tip-view-layout .asides .recent-tips h1 {
  padding: 24px;
  font-size: var(--headings-font-size);
}
.tip-view-layout .asides .recent-tips a, .tip-view-layout .asides .recent-tips .tip-skeleton {
  display: block;
  padding: 24px;
  cursor: pointer;
  border-top: 2px dotted rgba(84, 94, 111, 0.1);
  transition: background-color 0.1s ease, color 0.1s ease;
}
.tip-view-layout .asides .recent-tips a:last-child, .tip-view-layout .asides .recent-tips .tip-skeleton:last-child {
  border-radius: var(--rounded-corners-bottom);
}
.tip-view-layout .asides .recent-tips a:hover, .tip-view-layout .asides .recent-tips .tip-skeleton:hover {
  color: var(--color-6);
  background-color: var(--color-7);
}
.tip-view-layout .asides .recent-tips a:hover time, .tip-view-layout .asides .recent-tips .tip-skeleton:hover time {
  color: var(--color-6);
}
.tip-view-layout .asides .recent-tips a h3, .tip-view-layout .asides .recent-tips .tip-skeleton h3 {
  margin-bottom: 5px;
}
.tip-view-layout .asides .recent-tips a time, .tip-view-layout .asides .recent-tips .tip-skeleton time {
  display: flex;
  align-items: center;
  font-family: "roboto mono", monospace;
  font-weight: 600;
  color: var(--color-4);
}
.tip-view-layout .asides .recent-tips a time svg, .tip-view-layout .asides .recent-tips .tip-skeleton time svg {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  margin-right: 5px;
}
.tip-view-layout .asides .tags-aside {
  background-color: var(--color-2);
  border-radius: var(--border-radius-angle);
  box-shadow: var(--box-shadow);
  min-height: 630px;
  padding: 24px;
}
.tip-view-layout .asides .tags-aside h1 {
  margin-bottom: 24px;
  font-size: var(--headings-font-size);
}
.tip-view-layout .asides .tags-aside div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tip-view-layout .asides .tags-aside div .tag {
  color: var(--color-4);
  background-color: var(--color-2);
  border-color: var(--color-6);
}
.tip-view-layout .asides .tags-aside div .tag:hover {
  border-color: var(--color-7);
}
.tip-view-layout .asides .tags-aside div .tag[data-active=true] {
  border-color: var(--color-1);
}
@media screen and (max-width: 1200px) {
  .tip-view-layout {
    grid-template-rows: auto 24px minmax(900px, 1fr);
    grid-template-columns: 1fr 24px 320px;
  }
  .tip-view-layout .asides .recent-tips {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .tip-view-layout {
    display: block;
  }
  .tip-view-layout article {
    margin-bottom: 20px;
  }
  .tip-view-layout > main {
    margin-bottom: 20px;
  }
  .tip-view-layout .asides .tags-aside {
    min-height: unset;
  }
}
@media screen and (max-width: 768px) {
  .tip-view-layout {
    padding: 0 10px;
  }
  .tip-view-layout article {
    grid-template-rows: unset;
  }
  .tip-view-layout article header {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .tip-view-layout article main time {
    display: block;
    text-align: center;
  }
  .tip-view-layout article main time svg {
    display: none;
  }
  .tip-view-layout article footer {
    padding: 10px;
  }
  .tip-view-layout > main {
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 400;
  }
  .tip-view-layout .asides .recent-tips {
    min-height: unset;
  }
  .tip-view-layout .asides .recent-tips h1 {
    padding: 15px 10px;
  }
  .tip-view-layout .asides .recent-tips a,
  .tip-view-layout .asides .recent-tips .tip-skeleton {
    padding: 10px;
  }
  .tip-view-layout .asides .tags-aside {
    padding: 10px 15px;
    padding-bottom: 20px;
  }
}/*# sourceMappingURL=tip-view-layout.css.map */