:root h1, :root h2, :root h3, :root h4, :root h5, :root h6 {
  margin: 0;
}
:root a {
  color: inherit;
  text-decoration: none;
}
:root p {
  margin: 0;
}
:root ul {
  padding: 0;
  margin: 0;
}
:root ul, :root li {
  list-style: none;
}/*# sourceMappingURL=reset.css.map */